/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/led/led.h>

/*           40 Keys (Note: my corne is a 5x3; I just ignore the outer columns)
╭─────────────────╮ ╭─────────────────╮
│ 0  1  2  3  4  5│ │ 6  7  8  9 10 11│
│12 13 14 15 16 17│ │18 19 20 21 22 23│
│24 25 26 27 28 29│ │30 31 32 33 34 35│
╰────────╮36 37 38│ │39 40 41 ╭───────╯
         ╰────────╯ ╰─────────╯         */

#define BT0 BT_SEL 0
#define BT1 BT_SEL 1
#define BT2 BT_SEL 2
#define BT3 BT_SEL 3
#define BT4 BT_SEL 4
// #define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer

// &led_strip {
//    chain-length = <18>;
// };

&mt {
    tapping-term-ms = <500>;
    retro-tap;
};

&sk {
    release-after-ms = <4000>;
    quick-release;
    /delete-property/ ignore-modifiers;
};

/ {
	chosen {
		zmk,underglow = &led_strip;
	};
};

    &caps_word {
        continue-list = <UNDERSCORE MINUS SPACE BACKSPACE>;
    };

/ {

    combos {
        compatible = "zmk,combos";

	combo_ques {
           timeout-ms = <200>;
           key-positions = <33 34>;
	   layers = <0>;
           bindings = <&kp QMARK>;
         };

	combo_capz {
           timeout-ms = <200>;
           key-positions = <25 26>;
	   layers = <0>;
           bindings = <&kp LS(Z)>;
         };
	 	 
	combo_btclear {
           timeout-ms = <300>;
           key-positions = <21 22>;
           layers = <3>;
           bindings = <&bt BT_CLR>;
         };

	combo_outtog {
           timeout-ms = <300>;
           key-positions = <33 34>;
           layers = <3>;
           bindings = <&out OUT_TOG>;
         };
         
        combo_tog3 {
           timeout-ms = <300>;
           key-positions = <39 40 41>;
	   layers = <0 1 2>;
           bindings = <&tog 3>;
         };

	combo_togReset {
           timeout-ms = <300>;
           key-positions = <39 40 41>;
	   layers = <3>; 
           bindings = <&to 0>;
         };
         
	combo_lpar {
           timeout-ms = <100>;
           key-positions = <4 5>;
           bindings = <&kp LPAR>;
         };
		
	combo_rpar {
           timeout-ms = <100>;
           key-positions = <6 7>;
           bindings = <&kp RPAR>;
         };
		
	combo_lbkt {
           timeout-ms = <100>;
           key-positions = <16 17>;
           bindings = <&kp LBKT>;
         };
		
	combo_rbkt {
           timeout-ms = <100>;
           key-positions = <18 19>;
           bindings = <&kp RBKT>;
         };
		
	combo_lbrc {
           timeout-ms = <100>;
           key-positions = <28 29>;
           bindings = <&kp LBRC>;
         };
		
	combo_rbrc {
           timeout-ms = <100>;
           key-positions = <30 31>;
           bindings = <&kp RBRC>;
         };

	combo_hyper {
           timeout-ms = <50>;
           key-positions = <19 20>;
           bindings = <&sk LG(LS(LA(LCTRL)))>;
         };

	combo_bkspc {
           timeout-ms = <25>;
           key-positions = <8 20>;
	   layers = <0>;
           bindings = <&back>;
         };

	combo_bkspc_one {
           timeout-ms = <25>;
           key-positions = <8 20>;
	   layers = <1 2>;
           bindings = <&bspc_del>;
         };

	combo_colon {
	   timeout-ms = <30>;
	   key-positions = <21 33>;
	   bindings = <&kp COLON>;
	 };

	combo_semi {
	   timeout-ms = <30>;
	   key-positions = <20 32>;
	   bindings = <&kp SEMI>;
	 };

	combo_the {
	   timeout-ms = <30>;
	   layers = <0>;
	   key-positions = <4 16>;
	   bindings = <&macro_the>;
	 };

	combo_cap_the {
	   timeout-ms = <30>;
	   layers = <2>;
	   key-positions = <4 16>;
	   bindings = <&macro_cap_the>;
	 };

	combo_slideover {
	   timeout-ms = <30>;
	   layers = <0>;
	   key-positions = <2 14>;
	   bindings = <&macro_slideover>;
	 };

	combo_pgup {
	   timeout-ms = <50>;
	   layers = <0>;
	   key-positions = <5 17>;
	   bindings = <&kp PG_UP>;
	 };

	combo_pgdn {
	   timeout-ms = <50>;
	   layers = <0>;
	   key-positions = <17 29>;
	   bindings = <&kp PG_DN>;
	 };

	combo_home {
	   timeout-ms = <50>;
	   layers = <0>;
	   key-positions = <6 18>;
	   bindings = <&kp HOME>;
	 };

	combo_end {
	   timeout-ms = <50>;
	   layers = <0>;
	   key-positions = <18 30>;
	   bindings = <&kp END>;
	 };

	combo_apos {
	   timeout-ms = <50>;
	   layers = <0>;
	   key-positions = <19 31>;
	   bindings = <&kp SQT>;
	 };
	
	combo_quote {
	   timeout-ms = <50>;
	   layers = <0>;
	   key-positions = <16 28>;
	   bindings = <&kp LS(SQT)>;
	 };

	combo_fwd {
	   timeout-ms = <50>;
	   layers = <1>;
	   key-positions = <8 9>;
	   bindings = <&kp C_FF>;
	 };

	combo_rwd {
	   timeout-ms = <50>;
	   layers = <1>;
	   key-positions = <7 8>;
	   bindings = <&kp C_RW>;
	 };

	combo_play {
	   timeout-ms = <50>;
	   layers = <1>;
	   key-positions = <7 8 9>;
	   bindings = <&kp C_PP>;
	 };

     };
     
     behaviors {

	td_esc: tap_dance_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_ESC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&kp ESC>;
        };

	macro_slideover: macro_slideover {
            label = "ZM_macro_slideover";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp CAPS>
                , <&macro_tap &kp BSLH>
                , <&macro_release &kp CAPS>
                ;
        };

	macro_windows: macro_windows {
            label = "ZM_macro_windows";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp CAPS>
                , <&macro_tap &kp DOWN>
                , <&macro_release &kp CAPS>
                ;
        };

	macro_switch: macro_switch {
            label = "ZM_macro_switch";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp CAPS>
                , <&macro_tap &kp GRAVE>
                , <&macro_release &kp CAPS>
                ;
        };

        macro_cap_the: macro_cap_the {
            label = "ZM_macro_cap_the";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp T>
                , <&macro_release &kp LSHFT>
		, <&macro_tap &kp H &kp E &kp SPACE>
                ;
        };

	ZMK_MACRO(macro_the,
            wait-ms = <30>;
	    tap-ms = <40>;
            bindings = <&kp T &kp H &kp E &kp SPACE>;
    	)

	ZMK_MACRO(macro_sbreak,
            wait-ms = <30>;
	    tap-ms = <40>;
            bindings = <&kp DOT &kp SPACE &sk RSHFT>;
    	)

	back: altback {
	    compatible = "zmk,behavior-mod-morph";
            label      = "ALT_BACK";
            #binding-cells = <0>;
            bindings  = <&bdel>, <&kp BSPC>;
            mods      = <(MOD_LGUI | MOD_RGUI)>;
	};

	bdel: backdelete {
            compatible = "zmk,behavior-mod-morph";
            label      = "BACK_DEL";
            #binding-cells = <0>;
            bindings = <&kp LA(BSPC)>, <&kp DEL>;
            mods     = <(MOD_LSFT | MOD_RSFT)>;
	};

	hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

	bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

	ht_tp: holdtap_tappreferred {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP"; 
	    retro-tap;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

	ht_hl: holdtap_homerowlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP_HOMELAY"; 
            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
	    require-prior-idle-ms = <125>;
            bindings = <&mo>, <&kp>;
        };

	ht_ls: holdtap_layershift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP_LAYERSHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sk>;
        };
	
    };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R       |    T     |   |  Y  |  U   |  I  |  O  |  P  | BKSP      |
// | CAPS |  A  |  S  |  D  |  F       |    G     |   |  H  |  J   |  K  |  L  |  ;  |  '        |
// | SHFT |  Z  |  X  |  C  |  V       |    B     |   |  N  |  M   |  ,  |  .  |  /  | SHFT/CAPW |
//                    | ALT (ESC) | CMD (ALT) | CTL(ENT) |   | SPC | FN2  | FN1 |
                        bindings = <
   &none   &kp Q    		&kp W    	&kp E       	&kp R      	&kp T          		&kp Y   	&kp U    		&kp I       	&kp O    	&kp P     	   	&none
   &none   &kp A    		&kp S    	&ht_hl 1 D     	&hm LGUI F      &kp G          		&kp H   	&kp J    		&kp K       	&kp L    	&kp SQT  	   	&none
   &none   &ht_tp LSHIFT Z    	&kp X    	&kp C       	&kp V      	&kp B          		&kp N   	&kp M    		&kp COMMA   	&kp DOT  	&ht_tp RSHFT FSLH  	&none
                                		&td_esc	   	&mt LGUI TAB  	&mt LCTRL RET  		&lt 2 SPACE	&ht_ls 1 RSHFT		&kp CAPS 
                        >;
                };
                nav_layer {
// -----------------------------------------------------------------------------------------
// |   TAB |  1  |  2  |  3  |  4  |    5     |   |  6  |  7  |  8   |   9  |   0   | BKSP      |
// | EJECT |  4  |  5  |  6  |  `  |    -     |   |     |     |      |  UP  |   \   |   `       |
// |  SHFT |  7  |  8  |  9  |  0  |    =     |   |     |     | LEFT | DOWN | RIGHT | SHFT/CAPW |
//                     | ALT | CMD | CTL(ENT) |   | SPC | FN3 |  FN1 |
                        bindings = <
   &none   &kp EXCL		&kp AT   	&kp LA(N3)     	&kp EQUAL      	&kp GRAVE  	&kp C_BRI_UP		&kp C_VOL_UP		&none	        &none		&none   		&none    
   &none   &kp DLLR		&kp PRCNT  	&kp CARET   	&kp MINUS	&kp PIPE  	&kp C_BRI_DN		&kp C_VOL_DN		&kp UP		&none		&none			&none       	
   &none   &ht_tp LSHIFT AMPS	&kp STAR  	&none		&kp CAPS	&kp TILDE	&kp LG(LS(NUMBER_3)) 	&kp LEFT    		&kp DOWN	&kp RIGHT	&ht_tp RSHFT BSLH	&none
                                		&trans  	&trans		&trans		&trans   	  	&trans   		&kp C_EJECT
                        >;
                };

		num_layer {
// -----------------------------------------------------------------------------------------
// |    |  1  |  2  |  3  |  4  |    5     |   |  6  |  7  |  8   |   9  |   0   | BKSP      |
// |    |  4  |  5  |  6  |  `  |    -     |   |     |     |      |  UP  |   \   |   `       |
// |    |  7  |  8  |  9  |  0  |    =     |   |     |     | LEFT | DOWN | RIGHT | SHFT/CAPW |
//                     | ALT | CMD | CTL(ENT) |   | SPC | FN3 |  FN1 |
                        bindings = <
   &none   &kp N1  		&kp N2  	&kp N3    	&kp EQUAL	&kp GRAVE    	&macro_switch		&none			&none  		&none		&none   		&none    
   &none   &kp N4  		&kp N5		&kp N6  	&kp MINUS      	&kp PIPE  	&macro_windows		&back			&bspc_del  	&kp DEL		&kp SEMI		&none       
   &none   &ht_tp LSHIFT N7 	&kp N8		&kp N9		&kp N0  	&kp LA(N3)	&macro_sbreak		&none			&none  	  	&kp DOT		&kp RSHFT		&none
                                		&trans  	&trans		&trans		&trans   		&trans  		&caps_word
                        >;
                };
		
		board_layer {
// -----------------------------------------------------------------------------------------
// | ESC     | PRVS  | RWND  | PLAY  	| MFFD    | NEXT    |   | BT1     | BT2   | BT3   | BT4   | BT5   | BT_CLR  |
// | RGB_TOG | BRI + | HUE + | SAT + 	| EFF +   | VOL+    |   |         |       |       |       |       | OUT_TOG |
// |         | BRI - | HUE - | SAT - 	| EFF -   | VOL-    |   |   	  |       |       |       |       |         |
//                           | PWR_OFF  | PWR_OFF | PWR_TOG	| 	| 		  |       |       |
                        bindings = <
   &none   &kp C_PREV       &kp C_RW         &kp C_PP          &kp C_FF		&kp C_NEXT		&bt BT0 	&bt BT1			&bt BT2 	&bt BT3		&bt BT4			&none
   &none   &rgb_ug RGB_BRI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI   &rgb_ug RGB_EFF	&kp C_VOL_UP		&kp F1 		&kp F2   		&kp F3		&kp F4		&kp F5			&none	 
   &none   &rgb_ug RGB_BRD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD   &rgb_ug RGB_EFR	&kp C_VOL_DN		&kp F6		&kp F7   		&kp F8  	&kp F9		&kp F10			&none	 
                                          &ext_power EP_OFF &ext_power EP_ON &ext_power EP_TOG  	&trans  	&trans  		&rgb_ug RGB_TOG
                        >;
                };
		
        };
};
